header.p-3
    .container.d-flex.flex-wrap.align-items-center.justify-content-center.text-center
        a.d-flex.align-items-center.mb-2.mb-lg-0.text-reset.text-decoration-none.p-1.rounded.hover-primary(href='/')
            img#navbar-brand.px-2(src='/img/logo.png' alt='logo')
        ul.nav.me-lg-auto.mb-2.mb-md-0.mx-3.d-flex.flex-wrap.align-items-center.justify-content-center.text-center
            li
                a.hover-primary.nav-link.px-2.text-reset(href='/') Home
            li.d-none.d-md-block
                a.nav-link.px-2.text-reset |
            li
                a.hover-primary.nav-link.px-2.text-reset(href='/projects') Project Hall
            li.d-none.d-md-block
                a.nav-link.px-2.text-reset |
            li
                a.hover-primary.nav-link.px-2.text-reset(href='/ritro') Ritro (client demo)