// Jumbotron header
#jumbotron.d-none.d-md-block
    .row.p-3.p-md-5.m-0
        .container-xl.content
            .jumbotron.row
                .px-0.justify-content-center.align-items-center.d-flex
                    img#logo.px-5.d-none.d-md-block(src="/img/logo.png" alt='logo')
                    #because_this_below_needs_to_be_wrapped
                        h1.jumbo-header MNDL Ltd®
                        p.lead.m-0.text-muted Software and web development
                        a.lead.m-0.text-reset.hover-quarternary(href='https://github.com/mndl-limited') github.com/MNDL-limited