// MNDL Parking
#mndl-parking.row.p-3.p-md-5.m-0.my-3.text-wrap.text-center.align-items-center.d-flex.rounded
    .col-md-6.col-xl-7.mb-3.mb-md-0
        img.w-100(src='/img/city_driver.svg' alt='parking-svg')
    .col-md-6.col-xl-5
        h1 MNDL Parking Systems
        p.lead MNDL Parking Systems is a new and upcoming parking application #[span.highlight made to revolutionize] the modern parking application industry and the ease of use thereof.

        //- a.lead.m-0.hover-primary.text-dark(href='#mndl-freelance') <b>Read more...</b>
        .m-0.text-dark(href='#mndl-parking') <b>More info coming soon.</b>

hr.d-md-none