// MDNL Freelance
#mndl-freelance.row.p-3.p-md-5.m-0.mt-3.text-wrap.text-center.align-items-center.d-flex

    // Illustration on mobile
    .col-md-5.mb-3.mb-md-0.d-md-none
        img.w-100(src='/img/products.svg' alt='products-svg')

    .col-md-7
        h1 MNDL Freelance
        p.lead MNDL Freelance offers a #[span.highlight range of products and services], including support following the purchase of certain products.
        ul.list-unstyled.mb-2.py-2.border.rounded.shadow-sm.container.d-md-none
            li.list-item.my-1.mt-2 Website frontend (Pug/HTML, CSS/SCSS, JS)
            hr.w-50.left-25
            li.list-item.my-1 Website backend (Node, Express, MySQL/MongoDB)
            hr.w-50.left-25
            li.list-item.my-1 Promotional Video (production + post)
            hr.w-50.left-25
            li.list-item.my-1.mb-2 Other programming/production services on request
        ul.check-list.d-none.d-md-block
            li.list-item.my-1.mt-2 Website frontend (Pug/HTML, CSS/SCSS, JS)
            li.list-item.my-1 Website backend (Node, Express, MySQL/MongoDB)
            li.list-item.my-1 Promotional Video (production phase)
            li.list-item.my-1 Promotional Video (post-production phase)
            li.list-item.my-1.mb-2 Other programming/video production services on request

        //- a.lead.m-0.hover-primary.text-dark(href='#mndl-freelance') <b>Read more...</b>
        .m-0.pt-3.text-dark(href='#mndl-freelance') <b>More info coming soon.</b>

    // Illustration on tablet/desktop
    .col-md-5.mb-3.mb-md-0.d-none.d-md-block
        img.w-100(src='/img/products.svg' alt='products-svg')

hr.d-md-none