// GitHub
#github.row.p-3.p-md-5.m-0.my-3.text-wrap.text-center.align-items-center.d-flex.rounded
    // Illustration on mobile/smaller viewports
    .col-md-5.mb-3.mb-md-0.d-md-none
        img.w-100(src='/img/version control.svg' alt='source-control-svg')

    .col-md-7
        .d-none.d-md-block
            h3
                pre
                    code.language-plaintext Open source projects!
        .d-md-none
            h1 MNDL on Github
        p.lead MNDL does lots of work for the open source community! For more information, check us out on #[a.text-reset(href='https://github.com/MNDL-limited') Github]!
        a.lead.m-0.hover-quarternary.text-dark(href='https://github.com/MNDL-limited') <b>See projects</b>

    // Illustration on desktop/larger viewports
    .col-md-5.mb-3.mb-md-0.d-none.d-md-block
        img.w-100(src='/img/version control.svg' alt='source-control-svg')

hr.d-md-none