// Team

// Illustration on mobile
.col-md-5.mb-3.mb-md-0.d-md-none
    img.hoverscale.w-100(src='/img/experts.svg' alt='experts-svg')

#team.p-3.p-md-5.pt-md-3.m-0.mb-3.text-wrap.text-center
    h1 The Team
    hr.d-none.d-md-block
    .row.justify-content-between.d-flex
        .col-md-4.p-3.hoverscale
            img.w-50.my-1.executive_portrait(src='/img/random_memoji_1.png' alt='memoji-1')
            p.lead.my-1.text-muted Legal Council
            h2.my-2.my-md-0 Joakim Morrison
        .col-md-4.p-3.py-4.shadow.rounded.hoverscale
            img.w-50.my-1.executive_portrait(src='/img/memoji.png' alt='memoji-2')
            p.lead.my-1.text-muted 
                | CEO
            h2.my-2.my-md-0 Sebastian Mandal
        .col-md-4.p-3.hoverscale
            img.w-50.my-1.executive_portrait(src='/img/random_memoji_2.png' alt='memoji-3')
            p.lead.my-1.text-muted Development Supervisor
            h2.my-2.my-md-0 Muhammad Withe