extends ../sections/master
block content
    title Home
    include index_sections/jumbotron
    include index_sections/about
    include index_sections/mndl_freelance
    include index_sections/mndl_parking
    include index_sections/open_source.pug
    .d-none.d-md-block
        include index_sections/team
    include index_sections/contact