// GitHub
#github.row.p-3.p-md-5.m-0.my-3.text-wrap.text-center.align-items-center.d-flex.rounded
    // Illustration on mobile/smaller viewports
    .col-md-5.mb-3.mb-md-0.d-md-none
        img.w-100(src='/img/version_control.svg' alt='source-control-svg')

    .col-md-7
        h1 MNDL on Github
        p.lead MNDL projects are open-sourced and published on the company GitHub unless requested otherwise!
        a.lead.m-0.hover-primary.text-dark(href='https://github.com/MNDL-limited') <b>See projects</b>

    // Illustration on desktop/larger viewports
    .col-md-5.mb-3.mb-md-0.d-none.d-md-block
        img.w-100(src='/img/version_control.svg' alt='source-control-svg')

hr.d-md-none